# FILE: stdprob4-div-1.0nm.config           -*-Mode: tcl-*-
#
# mmDisp configuration.  This file must be valid Tcl code.

# This file should only be sourced from within another Tcl application.
# Check to make sure we aren't at the top application level
if {[string match [info script] $argv0]} {
    error "'[info script]' must be evaluated by an mmdisp-style application"
}

# Plot configuration array
array set plot_config {
   arrow,antialias           1
   arrow,autosample          1
   arrow,colorcount          256
   arrow,colormap            Red-Black-Blue
   arrow,colorphase          0
   arrow,colorreverse        0
   arrow,quantity            z
   arrow,size                1
   arrow,status              1
   arrow,subsample           9
   misc,background           white
   misc,boundarycolor        black
   misc,boundarywidth        1
   misc,datascale            39000
   misc,defaultwindowheight  480
   misc,defaultwindowwidth   1200
   misc,drawboundary         1
   misc,margin               100
   misc,relcenterpt          {0.5 0.45 0.5}
   misc,rotation             0
   misc,height               360
   misc,width                1200
   misc,zoom                 2.3
   misc,crop                 0
   pixel,autosample          1
   pixel,colorcount          256
   pixel,colormap            Blue-White-Red
   pixel,colorphase          0
   pixel,colorreverse        0
   pixel,opaque              1
   pixel,quantity            div
   pixel,size                1
   pixel,status              1
   pixel,subsample           2
   viewaxis                  +z
   viewaxis,xarrowspan       {}
   viewaxis,xpixelspan       {}
   viewaxis,yarrowspan       {}
   viewaxis,ypixelspan       {}
   viewaxis,zarrowspan       1.000e-9
   viewaxis,zpixelspan       1.000e-9
}

array set print_config {
   croptoview                1
   hpos                      center
   lmargin                   1.0
   orient                    landscape
   paper                     letter
   pheight                   1.65
   pwidth                    6.0
   tmargin                   1.0
   units                     in
   vpos                      center
}
